<meta property="og:url" content="{{ .Permalink }}">
{{- with .Site.Title }}<meta property="og:site_name" content="{{ . }}">{{ end -}}
<meta property="og:title" content="{{ .Title }}">
{{- with .Params.description }}<meta property="og:description" content="{{ . }}">{{ end -}}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}">{{ end -}}
{{- with .Params.locale }}<meta property="og:locale" content="{{ . }}">{{ end -}}
{{- with .Site.Params.title }}<meta property="og:image:alt" content="{{ . }}">{{ end -}}
